In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
# pd.set_option('future.no_silent_downcasting', True)

In [3]:
df_behavior = pd.read_csv(r"D:\BAO PHONG\HUST\MACHINE LEARNING (ML)\DATASET\03_Customer_Behavior_Data_THPT.csv")
df_item_info = pd.read_csv(r"D:\BAO PHONG\HUST\MACHINE LEARNING (ML)\DATASET\03_Item_information_Data_THPT.csv")
df_shelf_info = pd.read_csv(r"D:\BAO PHONG\HUST\MACHINE LEARNING (ML)\DATASET\03_Shelf_Information_Data_THPT.csv")

In [4]:
print(df_behavior.head())
print('\n', df_item_info.head())
print('\n', df_shelf_info.head())

   Shelf ID  Person ID        Date      Time       Day  Age  Gender  Height  \
0         4          1  2024-07-06  10:00:00  Saturday   52  Female     162
1         4          1  2024-07-06  10:02:00  Saturday   52  Female     162
2         4          1  2024-07-06  10:05:00  Saturday   52  Female     162
3         4          1  2024-07-06  10:06:00  Saturday   52  Female     162
4         4          1  2024-07-06  10:08:00  Saturday   52  Female     162

   Weight Married status  Item ID  Looking at item (s)  Holding the item (s)  \
0      41        Married       16                   27                    36
1      41        Married        5                   22                    17
2      41        Married        4                   25                    39
3      41        Married        8                   21                    35
4      41        Married        6                   27                    16

   Holding the bag  Picking up item  Returning item Putting item into bag  \
0             True             True           False                 False
1             True             True           False                  True
2             True             True            True                  True
3             True             True            True                 False
4             True             True           False                 False

  Taking item out of bag Putting item into bag in the 2nd time
0                  False                                  True
1                   True                                  True
2                   True                                 False
3                  False                                 False
4                  False                                  True

    Shelf ID  Item ID                       Name    Origin     Price  \
0         0        0                  Bánh Oreo   Vietnam  17,500 ₫
1         0        1              Bánh Chocopie   Vietnam  48,000 ₫
2         0        2  Kẹo cao su Cool Air Fresh   Vietnam  40,000 ₫
3         0        3   Bánh mỳ chà bông Kinh đô   Vietnam  13,400 ₫
4         0        4         Bánh trứng Custard  Thái Lan  17,000 ₫

   Marketing strategy  Discount   Rate
0               False         10     4
1               False          0     3
2               False          0     3
3               False          0     3
4                True         10     4

    Shelf ID       Description  Width  Height  Length  Number of items  \
0         0     Quầy bánh kẹo    300     180     300               13
1         1  Quầy hoá mỹ phẩm    100     180     400               18
2         2          Quầy sữa    100     180     600                9
3         3    Quầy thực phẩm    100     180     600               25
4         4       Quầy gia vị    500     180     100               19

       Shape
0  Quầy tròn
1    Kệ hàng
2    Kệ hàng
3    Kệ hàng
4    Kệ hàng

In [5]:
print(df_behavior.info())
print('\n', df_item_info.info())
print('\n', df_shelf_info.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15394 entries, 0 to 15393
Data columns (total 19 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Shelf ID                               15394 non-null  int64
 1   Person ID                              15394 non-null  int64
 2   Date                                   15394 non-null  object
 3   Time                                   15394 non-null  object
 4   Day                                    15394 non-null  object
 5   Age                                    15394 non-null  int64
 6   Gender                                 15394 non-null  object
 7   Height                                 15394 non-null  int64
 8   Weight                                 15394 non-null  int64
 9   Married status                         15394 non-null  object
 10  Item ID                                15394 non-null  int64
 11  Looking at item (s)                    15394 non-null  int64
 12  Holding the item (s)                   15394 non-null  int64
 13  Holding the bag                        15394 non-null  bool
 14  Picking up item                        15394 non-null  bool
 15  Returning item                         15394 non-null  bool
 16  Putting item into bag                  14056 non-null  object
 17  Taking item out of bag                 13452 non-null  object
 18  Putting item into bag in the 2nd time  12723 non-null  object
dtypes: bool(3), int64(8), object(8)
memory usage: 1.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Shelf ID            134 non-null    int64
 1   Item ID             134 non-null    int64
 2   Name                134 non-null    object
 3   Origin              134 non-null    object
 4   Price               134 non-null    object
 5   Marketing strategy  134 non-null    bool
 6   Discount            134 non-null    int64
 7   Rate                134 non-null    int64
dtypes: bool(1), int64(4), object(3)
memory usage: 7.6+ KB

 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Shelf ID         8 non-null      int64
 1   Description      8 non-null      object
 2   Width            8 non-null      int64
 3   Height           8 non-null      int64
 4   Length           8 non-null      int64
 5   Number of items  8 non-null      int64
 6   Shape            8 non-null      object
dtypes: int64(5), object(2)
memory usage: 580.0+ bytes

 None

In [6]:
print(df_behavior.describe())
print('\n', df_item_info.describe())
print('\n', df_shelf_info.describe())

           Shelf ID     Person ID           Age        Height        Weight  \
count  15394.000000  15394.000000  15394.000000  15394.000000  15394.000000
mean       3.316942    733.690984     46.198064    164.719826     60.015720
std        2.580487    429.865481     16.991954      9.880132     14.068385
min        0.000000      1.000000     18.000000    147.000000     40.000000
25%        1.000000    360.000000     31.000000    156.000000     48.000000
50%        3.000000    718.000000     45.000000    166.000000     57.000000
75%        6.000000   1105.000000     62.000000    174.000000     71.000000
max        7.000000   1500.000000     75.000000    179.000000     89.000000

            Item ID  Looking at item (s)  Holding the item (s)
count  15394.000000         15394.000000          15394.000000
mean       7.563206            28.699948             27.087502
std        5.190824            12.596675             10.249892
min        0.000000             0.000000              0.000000
25%        3.000000            20.000000             20.000000
50%        7.000000            27.000000             27.000000
75%       11.000000            35.000000             34.000000
max       24.000000            69.000000             59.000000

          Shelf ID     Item ID   Discount         Rate
count  134.000000  134.000000  134.000000  134.000000
mean     3.634328    8.440299    6.291045    3.791045
std      2.202326    5.730162    8.736601    0.756671
min      0.000000    0.000000    0.000000    3.000000
25%      2.000000    4.000000    0.000000    3.000000
50%      4.000000    8.000000    0.000000    4.000000
75%      5.750000   12.750000   10.000000    4.000000
max      7.000000   24.000000   30.000000    5.000000

        Shelf ID       Width  Height      Length  Number of items
count   8.00000    8.000000     8.0    8.000000           8.0000
mean    3.50000  325.000000   180.0  350.000000          16.5000
std     2.44949  271.240536     0.0  232.992949           4.6291
min     0.00000  100.000000   180.0  100.000000           9.0000
25%     1.75000  100.000000   180.0  100.000000          15.2500
50%     3.50000  200.000000   180.0  350.000000          16.0000
75%     5.25000  550.000000   180.0  600.000000          18.2500
max     7.00000  700.000000   180.0  600.000000          25.0000

Xử lí dữ liệu thô

In [7]:
print(df_behavior.isnull().sum())

Shelf ID                                    0
Person ID                                   0
Date                                        0
Time                                        0
Day                                         0
Age                                         0
Gender                                      0
Height                                      0
Weight                                      0
Married status                              0
Item ID                                     0
Looking at item (s)                         0
Holding the item (s)                        0
Holding the bag                             0
Picking up item                             0
Returning item                              0
Putting item into bag                    1338
Taking item out of bag                   1942
Putting item into bag in the 2nd time    2671
dtype: int64

In [8]:
df_behavior = df_behavior.infer_objects()  # Tự động chuyển đổi kiểu dữ liệu đối tượng
df_behavior = df_behavior.ffill().bfill()

C:\Users\Admin\AppData\Local\Temp\ipykernel_11532\1530225518.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_behavior = df_behavior.ffill().bfill()

In [9]:
print(df_behavior.isnull().sum())

Shelf ID                                 0
Person ID                                0
Date                                     0
Time                                     0
Day                                      0
Age                                      0
Gender                                   0
Height                                   0
Weight                                   0
Married status                           0
Item ID                                  0
Looking at item (s)                      0
Holding the item (s)                     0
Holding the bag                          0
Picking up item                          0
Returning item                           0
Putting item into bag                    0
Taking item out of bag                   0
Putting item into bag in the 2nd time    0
dtype: int64

In [10]:
df_behavior = df_behavior[df_behavior["Looking at item (s)"] > 0]

In [11]:
df_behavior = df_behavior[~(~df_behavior["Picking up item"] & df_behavior["Returning item"])]

In [12]:
df_behavior = df_behavior[~(~df_behavior["Returning item"] & df_behavior["Putting item into bag in the 2nd time"])]

In [13]:
df_behavior = df_behavior[~(~df_behavior["Holding the bag"] & df_behavior["Putting item into bag"])]

In [14]:
df_behavior = df_behavior[~(~df_behavior["Putting item into bag"] & (df_behavior["Taking item out of bag"] | df_behavior["Putting item into bag in the 2nd time"]))]

In [15]:
df_behavior = df_behavior[~(df_behavior["Putting item into bag"] & ~df_behavior["Taking item out of bag"] & df_behavior["Putting item into bag in the 2nd time"])]

In [16]:
df_behavior.reset_index(drop=True, inplace=True)

In [17]:
print(df_behavior.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6526 entries, 0 to 6525
Data columns (total 19 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Shelf ID                               6526 non-null   int64
 1   Person ID                              6526 non-null   int64
 2   Date                                   6526 non-null   object
 3   Time                                   6526 non-null   object
 4   Day                                    6526 non-null   object
 5   Age                                    6526 non-null   int64
 6   Gender                                 6526 non-null   object
 7   Height                                 6526 non-null   int64
 8   Weight                                 6526 non-null   int64
 9   Married status                         6526 non-null   object
 10  Item ID                                6526 non-null   int64
 11  Looking at item (s)                    6526 non-null   int64
 12  Holding the item (s)                   6526 non-null   int64
 13  Holding the bag                        6526 non-null   bool
 14  Picking up item                        6526 non-null   bool
 15  Returning item                         6526 non-null   bool
 16  Putting item into bag                  6526 non-null   bool
 17  Taking item out of bag                 6526 non-null   bool
 18  Putting item into bag in the 2nd time  6526 non-null   bool
dtypes: bool(6), int64(8), object(5)
memory usage: 701.2+ KB
None

In [18]:
df_behavior["ID"] = 100 * df_behavior["Shelf ID"] + df_behavior["Item ID"]
df_item_info["ID"] = 100 * df_item_info["Shelf ID"] + df_item_info["Item ID"]

Câu 1: Thống kê 5 mặt hàng với lượng khách hàng nhìn thấy nhiều nhất

In [19]:
count_value = df_behavior["ID"].value_counts().reset_index()

for i in range(5):
    result = df_item_info[df_item_info["ID"] == count_value.iloc[i, 0]]["Name"]
    print(result, '\n')

33    4 hộp sữa lúa mạch Milo 180ml
Name: Name, dtype: object

4    Bánh trứng Custard
Name: Name, dtype: object

118    Kem tràng tiền
Name: Name, dtype: object

7    Snack khoai tây Lays
Name: Name, dtype: object

32    Lốc 4 hộp sữa tươi ít đường TH true MILK
Name: Name, dtype: object

Câu 2:  Thống kê 5 mặt hàng có tổng thời gian nhìn và cầm xem lâu nhất

In [20]:
df_behavior["Total time"] = df_behavior["Looking at item (s)"] + df_behavior["Holding the item (s)"]
total_time = df_behavior.groupby("ID")["Total time"].sum().reset_index()
total_time.sort_values("Total time", ascending=False, inplace=True)

for i in range(5):
    result = df_item_info[df_item_info["ID"] == total_time.iloc[i, 0]]["Name"]
    print(result, '\n')

125    Sữa chua uống Probi
Name: Name, dtype: object

124    Sữa chua uống Yakult
Name: Name, dtype: object

33    4 hộp sữa lúa mạch Milo 180ml
Name: Name, dtype: object

7    Snack khoai tây Lays
Name: Name, dtype: object

6    Bim bim Oishi
Name: Name, dtype: object

Câu 3: Thống kê 5 mặt hàng được mua nhiều nhất

In [21]:
cond1 = df_behavior["Putting item into bag"] & ~df_behavior["Returning item"]
cond2 = df_behavior["Putting item into bag in the 2nd time"]

purchasing = df_behavior[cond1 | cond2][["ID"]].value_counts().reset_index()

for i in range(5):
    result = df_item_info[df_item_info["ID"] == purchasing.iloc[i, 0]]["Name"]
    print(result, '\n')

32    Lốc 4 hộp sữa tươi ít đường TH true MILK
Name: Name, dtype: object

4    Bánh trứng Custard
Name: Name, dtype: object

118    Kem tràng tiền
Name: Name, dtype: object

38    Sữa bột Milo
Name: Name, dtype: object

23    Khăn tắm Shine
Name: Name, dtype: object

Câu 4: Thống kê 5 mặt hàng thường được cầm lên rồi trả lại nhiều nhất

In [22]:
cond1 = df_behavior["Putting item into bag"] & df_behavior["Returning item"]

returning = df_behavior[cond1]["ID"].value_counts().reset_index(name="count")

for i in range(5):
    result = df_item_info[df_item_info["ID"] == returning.iloc[i, 0]]["Name"]
    print(result, '\n')

33    4 hộp sữa lúa mạch Milo 180ml
Name: Name, dtype: object

130    Mý ý SG Food
Name: Name, dtype: object

1    Bánh Chocopie
Name: Name, dtype: object

120    Sữa chua Vinamik
Name: Name, dtype: object

9    Socola trứng Kinder
Name: Name, dtype: object

Câu 6: Ngày nào trong tuần có doanh thu cao nhất?

In [23]:
df_item_info['Price'] = df_item_info['Price'].str.replace('₫', '').str.replace(',', '').str.strip()
price_map = df_item_info.set_index("ID")["Price"].astype(int).to_dict()
df_behavior["Price"] = df_behavior["ID"].map(price_map)

cond1 = df_behavior["Putting item into bag"] & ~df_behavior["Returning item"]
cond2 = df_behavior["Putting item into bag in the 2nd time"]

revenue = df_behavior[cond1 | cond2].groupby(["Day"])["Price"].sum().reset_index()
revenue.sort_values("Price", ascending=False, inplace=True)

print(revenue.head(1))

      Day      Price
3  Sunday  133049600

Câu 8: Top 5 các mặt hàng giảm giá được người dùng mua nhiều nhất?

In [24]:
discount_map = df_item_info.set_index("ID")["Discount "].to_dict()
df_behavior["Discount"] = df_behavior["ID"].map(discount_map)

cond1 = df_behavior["Putting item into bag"] & ~df_behavior["Returning item"]
cond2 = df_behavior["Putting item into bag in the 2nd time"]

discount_purchasing = df_behavior[(cond1 | cond2) & df_behavior["Discount"] > 0].groupby(["ID"])["Discount"].sum().reset_index()
discount_purchasing.sort_values("Discount", ascending=False, inplace=True)

for i in range(5):
    result = df_item_info[df_item_info["ID"] == returning.iloc[i, 0]]["Name"]
    print(result, '\n')

33    4 hộp sữa lúa mạch Milo 180ml
Name: Name, dtype: object

130    Mý ý SG Food
Name: Name, dtype: object

1    Bánh Chocopie
Name: Name, dtype: object

120    Sữa chua Vinamik
Name: Name, dtype: object

9    Socola trứng Kinder
Name: Name, dtype: object

Câu 9: Top 3 quầy hàng nào có lượt cầm xem nhiều nhất?

In [25]:
count_value = df_behavior[df_behavior["Holding the item (s)"] > 0]["Shelf ID"].value_counts().reset_index()

for i in range(3):
    result = df_shelf_info[df_shelf_info["Shelf ID"] == count_value.iloc[i, 0]]["Description"]
    print(result, '\n')

7    Quầy đông lạnh
Name: Description, dtype: object

0    Quầy bánh kẹo
Name: Description, dtype: object

1    Quầy hoá mỹ phẩm
Name: Description, dtype: object

Câu 10: Trong số các sản phẩm được đánh giá cao nhất, top 3 sản phẩm nào được mua nhiều nhất?

In [27]:
rate_map = df_item_info.set_index("ID")["Rate"].to_dict()
df_behavior["Rate"] = df_behavior["ID"].map(rate_map)

cond1 = df_behavior["Putting item into bag"] & ~df_behavior["Returning item"]
cond2 = df_behavior["Putting item into bag in the 2nd time"]

max_rate_purchasing = df_behavior[(cond1 | cond2) & df_behavior["Rate"] == 5]["ID"].value_counts().reset_index(name="count")

for i in range(3):
    result = df_item_info[df_item_info["ID"] == returning.iloc[i, 0]]["Name"]
    print(result, '\n')

33    4 hộp sữa lúa mạch Milo 180ml
Name: Name, dtype: object

130    Mý ý SG Food
Name: Name, dtype: object

1    Bánh Chocopie
Name: Name, dtype: object